[submodule "basic-login/components/esp-discord"]
	path = basic-login/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "echo/components/esp-discord"]
	path = echo/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "check-admin/components/esp-discord"]
	path = check-admin/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "react/components/esp-discord"]
	path = react/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "download-attachment/components/esp-discord"]
	path = download-attachment/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "ota/components/esp-discord"]
	path = ota-basic/components/esp-discord
	url = https://github.com/abobija/esp-discord
