[submodule "basic-login/components/esp-discord"]
	path = basic-login/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "echo/components/esp-discord"]
	path = echo/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "check-admin/components/esp-discord"]
	path = check-admin/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "react/components/esp-discord"]
	path = react/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "download-attachment/components/esp-discord"]
	path = download-attachment/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "ota-basic/components/esp-discord"]
	path = ota-basic/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "ota-multiple/components/esp-discord"]
	path = ota-multiple/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "voice_state/components/esp-discord"]
	path = voice_state/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "upload-attachment/components/esp-discord"]
	path = upload-attachment/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "embeds/components/esp-discord"]
	path = embeds/components/esp-discord
	url = https://github.com/abobija/esp-discord
[submodule "embeds-with-attachment-reference/components/esp-discord"]
	path = embeds-with-attachment-reference/components/esp-discord
	url = https://github.com/abobija/esp-discord
